@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 206 25% 95%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 200 80% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 4% 45.1%;
    --accent: 120 60% 70%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 200 80% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 10%;
    --foreground: 0 0% 98%;
    --card: 210 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 210 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 200 80% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 10% 23%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 5% 64%;
    --accent: 120 60% 70%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 23%;
    --input: 210 10% 23%;
    --ring: 200 80% 70%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
